.root {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #EDEDED;
    -fx-border-color: #545454;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #38B6FF;
}
.button:disabled {
    -fx-text-fill: #545454;
}

.text-field {
    -fx-font-size: 12px;
    -fx-background-color: #EDEDED;
    -fx-border-width: 1px;
    -fx-border-color: #545454;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.label {
    -fx-text-fill: #000000;
}

.text-area {
    -fx-text-fill: #000000;
}

.diagram-background-element {
    -fx-fill: #EDEDED;
    -fx-stroke: #000000;
}

.diagram-text {
    -fx-fill: #EDEDED00;
    -fx-stroke: #00000000;
    -fx-background-color: #EDEDED00;
    -fx-border-color: #EDEDED00;
    -fx-text-fill: #000000;
}

.selected-element {
    -fx-effect: dropshadow(gaussian, #38B6FF, 5, 0.75, 0, 0);
}

.resize-handle {
    -fx-fill: #EDEDED;
    -fx-stroke: #000000;
}